- name: appsetup for catalogue by using import role
  ansible.builtin.import_role:
        name: common
        tasks_from: appsetup.yaml

- name: installing nodejs dependencies
  ansible.builtin.import_role:
        name: common
        tasks_from: nodejs.yaml




- name: copying mongo.repo file to /etc/yum.repos.d/mongo.repo
  ansible.builtin.copy:
      src: mongo.repo
      dest: /etc/yum.repos.d/mongo.repo 

- name: install mongodb client
  ansible.builtin.package:
      name: mongodb-mongosh
      state: present  

- name: connect to mongodb catalogue
  ansible.builtin.command: >
    mongosh {{ MONGODB }} --quiet --eval "db.getMongo().getDBNames().indexOf('catalogue')"
  register: catalogue_output
  failed_when: false

- name: load products into mongodb
  ansible.builtin.shell: >
    mongosh --host {{ MONGODB }} < /app/db/master-data.js
  when: catalogue_output.stdout | int == -1




- name: systemsetup
  ansible.builtin.import_role:
      name: common
      tasks_from: systemsetup.yaml